<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <resursbank_default>
                <!-- Static config values for all dynamic methods. -->
                <active>1</active>
                <model>Resursbank\Core\Model\Payment\Resursbank</model>
                <order_status>pending_payment</order_status>
                <allowspecific>0</allowspecific>
                <group>resursbank</group>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_refund>0</can_refund>
                <can_void>0</can_void>
                <can_cancel>0</can_cancel>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_capture_partial>0</can_capture_partial>
                <is_gateway>1</is_gateway>
                <can_authorize_and_capture>1</can_authorize_and_capture>
                <can_fetch_transaction_info>0</can_fetch_transaction_info>
                <can_order>0</can_order>
                <can_use_internal>0</can_use_internal>
                <!-- When using initialization payment actions are not triggered. -->
                <can_initialize>0</can_initialize>
                <can_review_payment>0</can_review_payment>
                <can_use_for_multishipping>0</can_use_for_multishipping>
                <can_capture_once>0</can_capture_once>
                <can_edit>0</can_edit>
                <!-- Defaults which are overriden by value handlers. -->
                <title>Resurs Bank</title>
                <payment_action>authorize</payment_action>
                <can_sale>1</can_sale>
            </resursbank_default>
        </payment>
        <resursbank>
            <api>
                <environment>1</environment>
            </api>
        </resursbank>
    </default>
</config>
