<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment method configuration. -->
    <type name="Resursbank\Core\Model\Payment\Resursbank">
        <arguments>
            <argument name="code" xsi:type="const">Resursbank\Core\Model\Payment\Resursbank::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">ResursbankGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">ResursbankGatewayCommandPool</argument>
        </arguments>
    </type>

    <!--
        The value handler definition is required to ensure values are located in
        the config table. Without this, payment methods won't render during
        checkout for example, since Magento won't be able to to obtain their
        "active" flag.
    -->
    <!-- Value handlers -->
    <virtualType name="ResursbankGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">ResursbankGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- General value handler. -->
    <virtualType name="ResursbankGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">ResursbankGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader. -->
    <virtualType name="ResursbankGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Resursbank\Core\Model\Payment\Resursbank::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Payment Method interfaces. -->
    <preference for="Resursbank\Core\Api\PaymentMethodRepositoryInterface" type="Resursbank\Core\Model\PaymentMethodRepository" />
    <preference for="Resursbank\Core\Api\Data\PaymentMethodInterface" type="Resursbank\Core\Model\PaymentMethod" />
    <preference for="Resursbank\Core\Api\Data\PaymentMethodSearchResultsInterface" type="Resursbank\Core\Model\PaymentMethod\SearchResults" />

    <!-- Append our payment methods in frontend checkout process. -->
    <type name="Magento\Payment\Helper\Data">
        <plugin name="resursbank_core_payment_helper" type="Resursbank\Core\Plugin\Payment\Helper\Data" />
    </type>

    <!-- Set "resursbank_is_test" flag depending on configured environment. -->
    <type name="Magento\Sales\Model\Order">
        <plugin name="resursbank_core_set_environment_flag" type="Resursbank\Core\Plugin\Order\SetEnvironmentFlag" />
    </type>
s
    <!-- Gateway command pool configuration. -->
    <virtualType
        name="ResursbankGatewayCommandPool"
        type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">
                    Resursbank\Core\Gateway\Command\Authorize
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!--
    NOTE: The order of all plugins tied to
    Magento\Checkout\Controller\Onepage\Success is very important. All of these
    plugins must execute in proper order. There are also plugins in other
    modules, like Simplified, which adhere to this order.
    -->
    <!-- Restore session data, in case of intermediate browser change during signing. -->
    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin
            name="resursbank_core_order_update_billing_address"
            type="Resursbank\Core\Plugin\Order\RestoreSession"
            sortOrder="0"/>
    </type>

    <!-- Update billing address after order placement. -->
    <type name="Magento\Checkout\Controller\Onepage\Success">
        <plugin
            name="resursbank_core_order_update_billing_address"
            type="Resursbank\Core\Plugin\Order\UpdateBillingAddress"
            sortOrder="98"/>
    </type>
</config>
