<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment method configuration. -->
    <type name="Resursbank\Core\Model\Payment\Resursbank">
        <arguments>
            <argument name="code" xsi:type="const">Resursbank\Core\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">ResursbankGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">ResursbankGatewayCommandPool</argument>
        </arguments>
    </type>

    <!-- Configuration reader. -->
    <virtualType name="ResursbankGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Resursbank\Core\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Value handlers -->
    <virtualType name="ResursbankGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="title" xsi:type="string">Resursbank\Core\Gateway\Handler\Title</item>
                <item name="default" xsi:type="string">ResursbankGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- General value handler. -->
    <virtualType name="ResursbankGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">ResursbankGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="ResursbankGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">ResursbankGatewayAuthorizeCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorization command -->
    <virtualType name="ResursbankGatewayAuthorizeCommand" type="Resursbank\Core\Gateway\Command\Gateway">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Resursbank\Core\Gateway\Request\Authorize</argument>
            <argument name="handler" xsi:type="object">Resursbank\Core\Gateway\Response\Authorize</argument>
            <argument name="client" xsi:type="object">Resursbank\Core\Gateway\Http\Client\Authorize</argument>
            <argument name="transferFactory" xsi:type="object">Resursbank\Core\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Resursbank\Core\Gateway\Validator\General</argument>
        </arguments>
    </virtualType>

    <!-- Authorization request. -->
    <type name="Resursbank\Core\Gateway\Request\Authorize">
        <arguments>
            <argument name="config" xsi:type="object">ResursbankGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Payment Method interfaces. -->
    <preference for="Resursbank\Core\Api\PaymentMethodRepositoryInterface" type="Resursbank\Core\Model\PaymentMethodRepository" />
    <preference for="Resursbank\Core\Api\Data\PaymentMethodInterface" type="Resursbank\Core\Model\PaymentMethod" />
    <preference for="Resursbank\Core\Api\Data\PaymentMethodSearchResultsInterface" type="Resursbank\Core\Model\PaymentMethod\SearchResults" />
</config>
