<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment method configuration. -->
    <type name="Resursbank\Core\Model\Payment\Resursbank">
        <arguments>
            <argument name="code" xsi:type="const">Resursbank\Core\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">ResursbankGatewayValueHandlerPool</argument>
        </arguments>
    </type>

    <!-- Value handlers -->
    <virtualType name="ResursbankGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="title" xsi:type="string">Resursbank\Core\Gateway\Handler\Title</item>
                <item name="default" xsi:type="string">ResursbankGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- General value handler. -->
    <virtualType name="ResursbankGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">ResursbankGatewayConfig</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader. -->
    <virtualType name="ResursbankGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Resursbank\Core\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Payment Method interfaces. -->
    <preference for="Resursbank\Core\Api\PaymentMethodRepositoryInterface" type="Resursbank\Core\Model\PaymentMethodRepository" />
    <preference for="Resursbank\Core\Api\Data\PaymentMethodInterface" type="Resursbank\Core\Model\PaymentMethod" />
    <preference for="Resursbank\Core\Api\Data\PaymentMethodSearchResultsInterface" type="Resursbank\Core\Model\PaymentMethod\SearchResults" />

    <!-- Append our payment methods in frontend checkout process. -->
    <type name="Magento\Payment\Helper\Data">
        <plugin name="resursbank_core_payment_helper" type="Resursbank\Core\Plugin\Payment\Helper\Data" />
    </type>

    <!-- Prevent order confirmation email from being sent upon order creation. -->
    <type name="Magento\Sales\Model\Order">
        <plugin name="resursbank_rco_stop_order_confirmation_email" type="Resursbank\Rco\Plugin\Order\StopConfirmationEmail" />
    </type>
</config>
