<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="resursbank_core" frontName="resursbank_core">
            <module name="Resursbank_Core"/>
        </route>
    </router>
</config>
