<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="resursbank_section" sortOrder="0" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                <attribute type="displayIn">recommended_solutions</attribute>
                <fieldset_css>complex resursbank-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <label>rb-payment-group-section</label>
                <group id="api" type="text" sortOrder="0" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Resurs Bank API</label>
                    <field id="flow" type="select" sortOrder="0" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Checkout type</label>
                        <source_model>Resursbank\Core\Model\Config\Source\Flow</source_model>
                        <config_path>resursbank/api/flow</config_path>
                        <comment><![CDATA[<b>Attention!</b> API credentials are required for this extension to function properly.]]></comment>
                    </field>
                    <field id="environment" type="select" sortOrder="1" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Environment</label>
                        <source_model>Resursbank\Core\Model\Config\Source\Environment</source_model>
                        <config_path>resursbank/api/environment</config_path>
                    </field>
                    <field id="client_id_1" type="text" sortOrder="2" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-client-id</label>
                        <config_path>resursbank/api/client_id_1</config_path>
                        <depends>
                            <field id="environment">1</field>
                            <field id="flow" separator=",">rcoplus,mapi</field>
                        </depends>
                    </field>
                    <field id="client_secret_1" type="obscure" sortOrder="3" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-client-secret</label>
                        <config_path>resursbank/api/client_secret_1</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="environment">1</field>
                            <field id="flow" separator=",">rcoplus,mapi</field>
                        </depends>
                    </field>
                    <field id="client_id_0" type="text" sortOrder="2" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-client-id</label>
                        <config_path>resursbank/api/client_id_0</config_path>
                        <depends>
                            <field id="environment">0</field>
                            <field id="flow" separator=",">rcoplus,mapi</field>
                        </depends>
                    </field>
                    <field id="client_secret_0" type="obscure" sortOrder="3" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-client-secret</label>
                        <config_path>resursbank/api/client_secret_0</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="environment">0</field>
                            <field id="flow" separator=",">rcoplus,mapi</field>
                        </depends>
                    </field>
                    <field id="fetch_stores" type="button" sortOrder="4" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-fetch-stores</label>
                        <frontend_model>Resursbank\Core\Block\Adminhtml\System\Config\GetStores\Button</frontend_model>
                        <config_path>resursbank/api/fetch_stores</config_path>
                        <depends>
                            <field id="flow" separator=",">rcoplus,mapi</field>
                        </depends>
                    </field>
                    <field id="store" type="select" sortOrder="5" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <source_model>Resursbank\Core\Model\Config\Source\Store</source_model>
                        <config_path>resursbank/api/store</config_path>
                        <depends>
                            <field id="flow" separator=",">rcoplus,mapi</field>
                        </depends>
                    </field>
                    <field id="username_1" type="text" sortOrder="2" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Username</label>
                        <config_path>resursbank/api/username_1</config_path>
                        <depends>
                            <field id="environment">1</field>
                            <field id="flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <field id="password_1" type="obscure" sortOrder="3" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Password</label>
                        <config_path>resursbank/api/password_1</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="environment">1</field>
                            <field id="flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <field id="username_0" type="text" sortOrder="2" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Username</label>
                        <config_path>resursbank/api/username_0</config_path>
                        <depends>
                            <field id="environment">0</field>
                            <field id="flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <field id="password_0" type="obscure" sortOrder="3" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Password</label>
                        <config_path>resursbank/api/password_0</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="environment">0</field>
                            <field id="flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <field id="swish_max_order_total" type="text" sortOrder="10" translate="label, comment" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Swish maximum order total</label>
                        <config_path>resursbank/advanced/swish_max_order_total</config_path>
                        <comment>Maximum cart value allowed for Swish transactions. An empty value, or 0, will result in the utilisation of the value provided by the API.</comment>
                        <depends>
                            <field id="flow" separator=",">simplified,mapi</field>
                        </depends>
                    </field>
                    <!-- Increase sort order to make room for settings from submodules. -->
                    <field id="sync" type="button" sortOrder="50" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sync data</label>
                        <comment>Sync payment methods and other data from Resurs Bank for all API accounts in all store views.</comment>
                        <frontend_model>Resursbank\Core\Block\Adminhtml\System\Config\Methods\Sync</frontend_model>
                        <config_path>resursbank/api/sync</config_path>
                        <depends>
                            <field id="flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <field id="auto_sync_data" type="select" sortOrder="51" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>Automatically sync data</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>resursbank/api/auto_sync_data</config_path>
                        <depends>
                            <field id="flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <!-- Increase sort order to make room for settings from submodules. -->
                    <!-- Payment method listing for deprecated API:s -->
                    <field id="listing" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Methods</label>
                        <frontend_model>Resursbank\Core\Block\Adminhtml\System\Config\Methods\Listing</frontend_model>
                        <config_path>resursbank/methods/listing</config_path>
                        <depends>
                            <field id="flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <!-- Payment method listing for modern API:s -->
                    <field id="payment_method_list" sortOrder="99" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-payment-methods</label>
                        <frontend_model>Resursbank\Core\Block\Adminhtml\System\Config\PaymentMethods</frontend_model>
                        <config_path>resursbank/payment_methods/listing</config_path>
                        <depends>
                            <field id="flow" separator=",">rcoplus,mapi</field>
                        </depends>
                    </field>
                </group>
                <group id="advanced" sortOrder="98" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced Settings</label>
                    <field id="logging" type="select" sortOrder="0" translate="label, comment" showInDefault="1" showInWebsite="0" showInStore="0">
                        <label>rb-logging</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>resursbank/logging/enabled</config_path>
                    </field>
                    <field id="log_level" type="select" sortOrder="1" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-log-level</label>
                        <source_model>Resursbank\Core\Model\Config\Source\LogLevel</source_model>
                        <config_path>resursbank/advanced/log_level</config_path>
                        <depends>
                            <field id="logging">1</field>
                            <field id="*/resursbank_section/api/flow" separator=",">rcoplus,mapi</field>
                        </depends>
                    </field>
                    <field id="reuse_erroneously_created_orders" type="select" sortOrder="2" translate="label, comment" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Delete aborted orders</label>
                        <comment>Delete order when payment is aborted, to avoid orders with pending payment.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>resursbank/advanced/reuse_erroneously_created_orders</config_path>
                    </field>
                    <field id="round_tax_percentage" type="select" sortOrder="3" translate="label, comment" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Round item tax</label>
                        <comment>Round item tax percentage to nearest integer. Only use this when your configuration results in floating tax percentage values, for instance when using percentage based shipping fees in combination with currency conversion.</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>resursbank/advanced/round_tax_percentage</config_path>
                        <depends>
                            <field id="*/resursbank_section/api/flow" separator=",">simplified,rco</field>
                        </depends>
                    </field>
                    <field id="clean_orders" type="select" sortOrder="4" translate="label,comment" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-clean-up-pending-orders</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>resursbank/advanced/clean_orders</config_path>
                    </field>
                    <field id="clean_orders_frequency" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-clean-up-pending-frequency</label>
                        <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                        <config_path>resursbank/advanced/clean_orders_frequency</config_path>
                    </field>
                    <field id="clean_orders_time" translate="label, comment" sortOrder="6" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-clean-up-startup-time</label>
                        <config_path>resursbank/advanced/clean_orders_time</config_path>
                    </field>
                    <field id="clean_orders_minimum_age" translate="label, comment" sortOrder="7" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-clean-up-order-age</label>
                        <config_path>resursbank/advanced/clean_orders_minimum_age</config_path>
                        <source_model>Resursbank\Core\Model\Config\Source\CleanOrders\MinimumAge</source_model>
                    </field>
                    <field id="enable_developer_mode" translate="label, comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-enable-developer-mode</label>
                        <comment>rb-enable-developer-mode-comment</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>resursbank/advanced/enable_developer_mode</config_path>
                        <depends>
                            <field id="*/resursbank_section/api/flow" separator=",">rcoplus,mapi</field>
                        </depends>
                    </field>
                    <field id="xdebug_session_value" translate="label, comment" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>rb-xdebug-session-value</label>
                        <comment>rb-xdebug-session-value-comment</comment>
                        <config_path>resursbank/advanced/xdebug_session_value</config_path>
                        <depends>
                            <field id="enable_developer_mode">1</field>
                            <field id="*/resursbank_section/api/flow" separator=",">rcoplus,mapi</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
