<?xml version="1.0"?>
<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="resursbank_section" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Resurs Bank</label>
                <group id="resursbank" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1" translate="label">
                    <fieldset_css>complex resursbank-section</fieldset_css>
                    <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <label>Payments</label>

                    <group id="api" type="text" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Resurs Bank API</label>
                        <field id="flow" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Checkout type</label>
                            <source_model>Resursbank\Core\Model\Config\Source\Flow</source_model>
                            <config_path>resursbank/api/flow</config_path>
                        </field>
                        <field id="environment" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Environment</label>
                            <source_model>Resursbank\Core\Model\Config\Source\Environment</source_model>
                            <config_path>resursbank/api/environment</config_path>
                        </field>
                        <field id="username_test" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Username</label>
                            <depends><field id="environment">test</field></depends>
                            <config_path>resursbank/api/username_test</config_path>
                        </field>
                        <field id="password_test" translate="label" type="password" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Password</label>
                            <depends><field id="environment">test</field></depends>
                            <config_path>resursbank/api/password_test</config_path>
                        </field>
                        <field id="username_production" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Username</label>
                            <depends><field id="environment">production</field></depends>
                            <config_path>resursbank/api/username_production</config_path>
                        </field>
                        <field id="password_production" translate="label" type="password" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Password</label>
                            <depends><field id="environment">production</field></depends>
                            <config_path>resursbank/api/password_production</config_path>
                        </field>
                        <field id="debug" translate="label, comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Debug enabled</label>
                            <comment>Log entries will be stored in var/log/resursbank_*.log (different log files are used for various operations).</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>resursbank/api/debug</config_path>
                        </field>
                        <field id="round_tax_percentage" translate="label, comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Round Item Tax</label>
                            <comment>Round item tax percentage to nearest integer. Only use this when your configuration results in floating tax values, for instance when using percentage based shipping fees in combination with currency conversion.</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>resursbank/api/round_tax_percentage</config_path>
                        </field>
                    </group>

                    <group id="methods" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Methods</label>
                        <field id="sync" translate="label" type="button" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                            <frontend_model>Resursbank\Core\Block\Adminhtml\System\Config\Methods\Sync</frontend_model>
                            <config_path>resursbank/methods/sync</config_path>
                        </field>
                    </group>

                </group>
            </group>
        </section>
    </system>
</config>
