/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

/**
    The main read more element.
 */
.resursbank-read-more {
    font-size: 1.5rem;
    font-family: 'ResursSans-Regular', Arial, sans-serif;
    margin: 20px 0;
}

/**
    The information about the read more component.
 */
.resursbank-read-more > .info-container,
.resursbank-read-more > .info-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/**
    The link that fetches additional information.
 */
.resursbank-read-more > .info-container > .read-more {
    margin-top: 10px;
}

/**
    MAPI CSS
 */
.rb-rm-link p {
    font-size: 16px;
    font-family: 'ResursSans-Regular', Arial, sans-serif;
    text-decoration: none;
    color: #00a8e6;
    cursor: pointer;
}

.rb-rm-background {
    z-index:999;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:#000;
    opacity:0.7;
}

.rb-rm-iframe {
    width:95vw;
    max-width:100%;
    height:90vh;
    border:0;
    -moz-border-radius:2%;
    -webkit-border-radius:2%;
    border-radius:2%;
    overflow:hidden;
}

@media screen and (min-width: 1280px) {
    .rb-rm-iframe {
        width: 1214px;
    }
}
